* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

#main-container {
    display: flex;
    justify-content: center;
    background-color:lightslategray;
    width: 100%;
    height: 100%;   
}

#bg {
    position:relative;
    top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:azure;
    width: 80%;
    height: 500px;
    border: 2px solid black;
}

#btn-container{
    position: relative;
    bottom: 2%;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 50% auto;
    grid-gap: 5px;
    width: 70%;
    height: 150px;
    background-color: silver;
    border: 1px solid black;
}

.btn-div, .retry-div {
    justify-self: center;
    align-self: center;
    width: 25%;
    height: 50px;
}

#result {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: silver;
    width: 100%;
    height: 100%;
    grid-row-start: 2 span -2;
    grid-column: 1 / 3;
}

#spin-btn, #retry-btn {
    width: 100%;
    height: 50px;
    border: 2px solid black;
}

button:hover{
    background-color:yellow;
}

input[type=button]:hover{
    background-color:yellow;
}

#img-container {
    display: inline-grid;
    position: relative;
    top: 3%;
    grid-template-columns: 20% auto auto auto auto;
    grid-template-rows: 33% auto auto;
    grid-gap: 10px;
    width: 80%;
    height: 300px;
}

.img {
    background-color:navajowhite;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#display {
    display: flex;
    position: absolute;
    top: 75%;
    background-color: azure;
    width: 80%;
    height: 150px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#display-grid {
    display: grid;
    width: 90%;
    height: 100px;
    grid-gap: 5px;
    grid-template-columns: 33% auto auto;
    grid-template-rows: 50% 50%;
    padding: 2px;
} 

.display-grid-item {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    width: 100%;
    height: 100%;
    background-color:silver;
    border: 1px solid black;
}

.bet-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#min-bet {
    position: relative;
    left: 25px;
    width: 20%;   
}

#max-bet {
    position: relative;
    left: 25px;
    width: 75px;
}

#bet-amount {
    position: relative;
    left: 10px;
    width: 25%;
}

#confirm-button {
    position: relative;
    left: 20px;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0px;
}

label {
    font-family:sans-serif;
    font-size: 1.15em;
}

p, span {
    font-family:sans-serif;
    font-size: 1.15em;
}

#cash-display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

#cash-display span, #bet-display span, #win-display span {
    position: relative;
    left: 10px;
}